* {
  box-sizing: border-box;

header {
  padding: 2rem;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 54px;
  padding-top: 50px;
  height: 200px;
  width: 1200px;
  background-image: none;
}

.title {
  background-color: beige;
}

a, .header_logo {
  font-size: 16px;
  padding-top: 30px;
  padding-left: 30px;
}



.description {
  
  text-align: center;
  font-size: 30px;
}
