* {
  box-sizing: border-box;
}
.nav_bar {
  background: rgb(94, 39, 9);
  padding: 1rem 2rem;
}
.nav_bar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_bar a {
  color: white;
  text-decoration: none;
}
header {
  padding: 2rem;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 54px;
  padding-top: 10px;

}
